#search-page-div {
  display: flex;
  align-content: center;
  justify-content: space-around;
  height: calc(100vh - 104px);
}

#search-tag-div {
  background-color: cadetblue;
  width: 70%;
  padding: 4%;

  .tag-classes {
    width: 100%;
    padding-bottom: 3em;

    ul {
      display: flex;
      flex-direction: row;
      label {
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: 0.5em 1em 0.5em;
        margin: 0.5em 0.5em 0;

        border-radius: 5px;
        cursor: pointer;
        user-select: none;
        width: 100px;
      }

      label:first-child {
        margin-left: 0;
      }
    }
  }
  #price-range {
    padding: 1.5em 0.3em 1.5em;
  }
  #select-order {
  }
}

#search-items-div {
  background-color: rebeccapurple;
  width: 130%;
  padding: 4%;
  .item {
    width: 100%;
    margin-bottom: 3em;
    border: solid 4px black;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "img Title Title"
      "img price price"
      "img ul ul";

    .item-price {
      grid-area: price;
    }

    img {
      grid-area: img;
    }

    .item-title {
      grid-area: Title;
    }

    ul {
      grid-area: ul;
      display: flex;
      align-items: center;
      li {
        list-style: none;
        display: inline-block;
        padding: 0 1.5em 0;
      }
      li:first-child {
        padding-left: 0;
      }
    }
  }
}

.color-tag {
  label {
    background-color: red;
  }
}
.brand-tag {
  label {
    background-color: green;
  }
}
.material-tag {
  label {
    background-color: white;
  }
}
